#!/usr/bin/make -f
#DH_VERBOSE = 1

clean:
	make clean

build:
	make all

binary: 
	mkdir -p debian/metis-server/etc/systemd/system
	mkdir -p debian/metis-server/usr/share/metis/python
	cp metisd.yaml debian/metis-server/etc
	cp sinotify.py debian/metis-server/usr/share/metis
	cp systemd/start_metis.sh debian/metis-server/usr/share/metis
	cp systemd/metis.service debian/metis-server/etc/systemd/system
	cp -a python/. debian/metis-server/usr/share/metis/python
	dh_gencontrol
	dh_installdeb 
	dh_builddeb
