include LICENSE
include CODEOWNERS
recursive-include Metis *.md
recursive-include requirements *.txt
recursive-exclude tests *.py
recursive-include Metis *.py
recursive-include documentation *.xlsx
recursive-include documentation *.pptm
recursive-include tests *.stdf
