[Unit]
Description=Metis stdf watcher service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python /usr/share/metis/metis-daemon.py

[Install]
WantedBy=multi-user.target
